textarea {
  resize: none;
  border-radius: 0;
  padding: 10px 10px 10px !important;
}

[class*="material-icons"] {
  font-size: 16px !important;
  width: 15px;
  height: 15px;
}

.pin-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0 0 10px 0;
  z-index: 1;
}

.sticky-options {
  visibility: hidden;
}

.sticky-card {
  &:hover {
    .sticky-options {
      visibility: visible;
    }
  }

  &-empty {
    border-style: dashed !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  &-track {
    background: rgba(0,0,0,.1);
  }
  &-thumb {
    border-radius: 8px;
    background: rgba(0,0,0,.13);
    &:hover {
      background: rgba(0,0,0,.15);
    }
  }
}
